{% extends "./base.html" %}

{% block title %} Galería de Productos {% endblock %}

{% block body %}
<h2>Productos disponibles</h2>
<div class="row">
    {% for producto in productos %}
    <div class="col-md-3 mb-4">
        <div class="card h-100 product-card">
            <img src="{{ producto.imagen_url }}" class="card-img-top product-img" alt="{{ producto.nombre }}">
            <div class="card-body text-center">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text font-weight-bold text-success">${{ producto.precio }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
